<section class="container text-center">
    <h4 id="welcomeText">My Posts {{userData.first_name}} {{userData.last_name}}</h4>
    <button class="btn btn-primary px-2" onclick="window.location.href='/newpost';">New Post</button>

    <section class="container mt-5">
        <div class="d-flex justify-content-center row">
            {{#each posts as |post| }}
            <div class="card mb-3" style="width: 60rem;">
                <div class="card-body">
                    {{!-- <a href="/project/{{project.id}}">{{project.name}}</a> --}}
                    <h4 class="card-title">{{post.post_title}}</h4>
                    <!-- Call helper function "format_date" convert the date format -->
                    <h6 class="card-subtitle mb-2 text-muted">Created by {{post.user.first_name}}
                        {{post.user.last_name}} on
                        {{format_date post.date_created}}</h6>
                    <p class="card-text">{{post.post_description}}</p>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{post.id}}">Edit</a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-{{post.id}}" tabindex="-1" aria-labelledby="blogpost-{{post.id}}"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">{{post.post_title}}</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Call helper function "format_date" convert the date format -->
                            <h6 class="card-subtitle mb-2 text-muted">Created by {{post.user.first_name}}
                                {{post.user.last_name}} on
                                {{format_date post.date_created}}</h6>
                            <p class="card-text">{{post.post_description}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>



    </section>

</section>




{{!--
<script src="/js/acceptService.js"></script> --}}