<section class="container">
    <div class="text-center">
        <h4 id="welcomeText" class="mb-4">My Dashboard</h4>
        <button class="btn btn-primary px-2" data-bs-toggle="modal" data-bs-target="#newPostModal">New Post</button>
    </div>
    <section class="container mt-5">
        <div class="d-flex justify-content-center row">
            {{#each posts as |post| }}
            <div class="card mb-3" style="width: 60rem;">
                <div class="card-body">
                    <h4 class="card-title fw-bolder fs-4">{{post.post_title}}</h4>
                    <!-- Call helper function "format_date" convert the date format -->
                    <h6 class="card-subtitle mb-2 text-muted fw-light mb-3">Created by {{post.user.first_name}}
                        {{post.user.last_name}} on
                        {{format_date post.date_created}}</h6>
                    <p class="card-text fw-normal">{{post.post_description}}</p>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalView-{{post.id}}">View</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{post.id}}">Edit</a>
                    <a class="btn btn-primary deleteBtn" data-id="{{post.id}}">Delete</a>
                </div>
            </div>

            <!-- Edit post Modal -->
            <div class="modal fade" id="modal-{{post.id}}" tabindex="-1" aria-labelledby="blogpost-{{post.id}}"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bolder fs-4" id="exampleModalLabel">{{post.post_title}}</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Call helper function "format_date" convert the date format -->
                            <h6 class="card-subtitle text-muted fw-light mb-3">Created by {{post.user.first_name}}
                                {{post.user.last_name}} on
                                {{format_date post.date_created}}</h6>
                            <form id="editPostForm-{{post.id}}">
                                <div class="mb-3">
                                    <label for="postTitle{{post.id}}" class="form-label fw-bold">Title</label>
                                    <input type="text" class="form-control" id="postTitle{{post.id}}"
                                        placeholder="{{post.post_title}}" required="required">
                                </div>
                                <div class="mb-3">
                                    <label for="postDescription{{post.id}}"
                                        class="form-label fw-bold">Description</label>
                                    <textarea class="form-control" id="postDescription{{post.id}}" rows="3"
                                        placeholder="{{post.post_description}}" required="required"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary savePostBtn" data-id="{{post.id}}">Save
                                changes</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- View post Modal -->
            <div class="modal fade" id="modalView-{{post.id}}" tabindex="-1" aria-labelledby="blogpost-{{post.id}}"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fw-bolder fs-4" id="exampleModalLabel">{{post.post_title}}</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Call helper function "format_date" convert the date format -->
                            <h6 class="card-subtitle mb-2 text-muted fw-light mb-3">Created by {{post.user.first_name}}
                                {{post.user.last_name}} on
                                {{format_date post.date_created}}</h6>
                            <p class="card-text">{{post.post_description}}</p>
                            {{!-- Loop through comments array of each post to extract description and commenter name
                            --}}
                            <h6 class="card-subtitle mb-2 fw-bold mt-5">Comments</h6>
                            {{#each post.comments as |comment| }}
                            <div class="mb-4">
                                <p class="text-muted fw-light">{{comment.commenter_first}} {{comment.commenter_last}}
                                    <span>on {{format_date
                                        comment.date_created}} wrote:</span>
                                </p>
                                <p>{{comment.comment_description}}</p>
                            </div>
                            {{/each}}

                            <form class="newCommentForm">
                                <div class="mb-3">
                                    <label for="commentBox{{post.id}}" class="form-label fw-bold">Leave a
                                        comment</label>
                                    <textarea class="form-control" id="commentBox{{post.id}}" rows="3"
                                        required="required"></textarea>
                                </div>
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary cmSubmitBtn" data-id="{{post.id}}"
                                id="cmSubmitBtn{{post.id}}" data-bs-dismiss="modal">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>

    </section>

    <!-- New post Modal -->
    <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newBlogPost" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">New Post</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="newPostTitle" class="form-label fw-bold">Title</label>
                            <input type="text" class="form-control" id="newPostTitle"
                                placeholder="Example input placeholder" required="required">
                        </div>
                        <div class="mb-3">
                            <label for="newPostDescription" class="form-label fw-bold">Description</label>
                            <textarea class="form-control" id="newPostDescription" rows="3"
                                required="required"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="newPostSubmit"
                        data-bs-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

</section>