<!-- Loop over each object in the posts array -->
<section class="container mt-5">
    <div class="d-flex justify-content-center row">
        {{#each posts as |post| }}
        <div class="card mb-3" style="width: 60rem;">
            <div class="card-body">
                {{!-- <a href="/project/{{project.id}}">{{project.name}}</a> --}}
                <h4 class="card-title">{{post.post_title}}</h4>
                <!-- Call helper function "format_date" convert the date format -->
                <h6 class="card-subtitle mb-2 text-muted">Created by {{post.user.first_name}} {{post.user.last_name}} on
                    {{format_date post.date_created}}</h6>
                <p class="card-text">{{post.post_description}}</p>
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-{{post.id}}">View</a>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modal-{{post.id}}" tabindex="-1" aria-labelledby="blogpost-{{post.id}}"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">{{post.post_title}}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Call helper function "format_date" convert the date format -->
                        <h6 class="card-subtitle mb-2 text-muted">Created by {{post.user.first_name}}
                            {{post.user.last_name}} on
                            {{format_date post.date_created}}</h6>
                        <p class="card-text">{{post.post_description}}</p>
                        {{!-- Loop through comments array of each post to extract description and commenter name --}}
                        <h6 class="card-subtitle mb-2 text-muted">Comments</h6>
                        {{#each post.comments as |comment| }}
                        <p>{{comment.commenter_first}} {{comment.commenter_last}} <span>on {{format_date
                                comment.date_created}} wrote:</span></p>
                        <p>{{comment.comment_description}}</p>
                        {{/each}}

                        <form class="newCommentForm">
                            <div class="mb-3">
                                <label for="commentBox{{post.id}}" class="form-label">Leave a comment</label>
                                <textarea class="form-control" id="commentBox{{post.id}}" rows="3"></textarea>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary cmSubmitBtn" data-id="{{post.id}}"
                            id="cmSubmitBtn{{post.id}}" onclick="window.location.href='/';">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        {{/each}}
    </div>



</section>